@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "chelsea-market";
    src: url("../public/fonts/ChelseaMarket-Regular.ttf");
}

@font-face {
    font-family: "gluten";
    src: url("../public/fonts/Gluten-Thin.woff2") format('woff2');
    font-weight: 400;
}

body {
    background: rgb(140, 135, 115);
}